In [2]:

import pandas as pd 
import sklearn 
import matplotlib.pyplot as plt
import numpy as np

C:\Users\riley\AppData\Local\Temp\ipykernel_27416\1863815178.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:

df = pd.read_csv("CS98XRegressionTest.csv")
df.head()

converted_categorical = pd.get_dummies(df, columns=['top genre'], dtype=float).dropna()


# Define a function to categorize each year into its respective decade
def categorize_year_to_decade(year):
    return str(year)[:3] + "0's"


converted_categorical['decade']=converted_categorical['year'].apply(categorize_year_to_decade)
converted_categorical = converted_categorical.drop(columns=['year'])
converted_categorical = pd.get_dummies(converted_categorical, columns=['decade'], dtype=float)

def char_length(string):
    return len(string)

def word_count(word):
    return word.count(' ')+1

converted_categorical['title_length'] = converted_categorical['title'].apply(char_length)
converted_categorical['title_word_count'] = converted_categorical['title'].apply(word_count)
converted_categorical=converted_categorical.drop(columns=['title'])

converted_categorical['artist_length'] = converted_categorical['artist'].apply(char_length)
converted_categorical['artist_word_count'] = converted_categorical['artist'].apply(word_count)
converted_categorical=converted_categorical.drop(columns=['artist'])

converted_categorical=converted_categorical.set_index('Id')
converted_categorical.to_csv("Testing_Cleaned.csv", index=False)
converted_categorical.head()

,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,top genre_adult standards,...,decade_1960's,decade_1970's,decade_1980's,decade_1990's,decade_2000's,decade_2010's,title_length,title_word_count,artist_length,artist_word_count
Id,,,,,,,,,,,,,,,,,,,,,
454,154,93,65,-3,75,74,213,1,18,False,...,False,False,False,False,True,False,7,2,19,4
455,161,39,30,-15,11,14,292,26,3,False,...,False,False,False,True,False,False,56,9,10,2
456,64,46,27,-7,12,18,179,38,3,False,...,False,True,False,False,False,False,38,7,5,1
457,127,92,71,-9,37,53,216,6,4,False,...,False,False,False,False,False,True,21,4,9,1
458,115,46,56,-12,21,34,153,18,3,False,...,False,False,False,False,False,True,19,4,13,2

In [18]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Load the data
df = pd.read_csv("CS98XRegressionTest.csv")

# Initialize OneHotEncoder
encoder = OneHotEncoder(dtype=float)

# Fit and transform the 'top genre' column
top_genre_encoded = encoder.fit_transform(df[['top genre']]).toarray()

# Create a DataFrame from the encoded columns
top_genre_encoded_df = pd.DataFrame(top_genre_encoded, columns=encoder.get_feature_names_out(['top genre']))

# Concatenate the new DataFrame with the original DataFrame, dropping the original 'top genre' column
df = pd.concat([df.drop('top genre', axis=1), top_genre_encoded_df], axis=1).dropna()

# Define a function to categorize each year into its respective decade
def categorize_year_to_decade(year):
    return str(year)[:3] + "0's"

df['decade'] = df['year'].apply(categorize_year_to_decade)
df = df.drop(columns=['year'])

# Apply OneHotEncoding to the 'decade' column
decade_encoded = encoder.fit_transform(df[['decade']]).toarray()
decade_encoded_df = pd.DataFrame(decade_encoded, columns=encoder.get_feature_names_out(['decade']))
df = pd.concat([df.drop('decade', axis=1), decade_encoded_df], axis=1)

# Remaining transformations
def char_length(string):
    return len(string)

def word_count(word):
    return word.count(' ') + 1

df['title_length'] = df['title'].apply(char_length)
df['title_word_count'] = df['title'].apply(word_count)
df = df.drop(columns=['title'])

df['artist_length'] = df['artist'].apply(char_length)
df['artist_word_count'] = df['artist'].apply(word_count)
df = df.drop(columns=['artist'])

df = df.set_index('Id')
df.to_csv("Testing_Cleaned.csv", index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114 entries, 454 to 567
Data columns (total 61 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   bpm                             114 non-null    int64
 1   nrgy                            114 non-null    int64
 2   dnce                            114 non-null    int64
 3   dB                              114 non-null    int64
 4   live                            114 non-null    int64
 5   val                             114 non-null    int64
 6   dur                             114 non-null    int64
 7   acous                           114 non-null    int64
 8   spch                            114 non-null    int64
 9   top genre_adult standards       114 non-null    float64
 10  top genre_album rock            114 non-null    float64
 11  top genre_alternative country   114 non-null    float64
 12  top genre_alternative metal     114 non-null    float64
 13  top genre_appalachian folk      114 non-null    float64
 14  top genre_art rock              114 non-null    float64
 15  top genre_barbadian pop         114 non-null    float64
 16  top genre_beach music           114 non-null    float64
 17  top genre_big beat              114 non-null    float64
 18  top genre_big room              114 non-null    float64
 19  top genre_blues rock            114 non-null    float64
 20  top genre_boy band              114 non-null    float64
 21  top genre_brill building pop    114 non-null    float64
 22  top genre_british invasion      114 non-null    float64
 23  top genre_bronx hip hop         114 non-null    float64
 24  top genre_bubblegum dance       114 non-null    float64
 25  top genre_canadian pop          114 non-null    float64
 26  top genre_classic country pop   114 non-null    float64
 27  top genre_classic rock          114 non-null    float64
 28  top genre_cowboy western        114 non-null    float64
 29  top genre_dance pop             114 non-null    float64
 30  top genre_dance rock            114 non-null    float64
 31  top genre_deep adult standards  114 non-null    float64
 32  top genre_dirty south rap       114 non-null    float64
 33  top genre_disco                 114 non-null    float64
 34  top genre_diva house            114 non-null    float64
 35  top genre_east coast hip hop    114 non-null    float64
 36  top genre_eurodance             114 non-null    float64
 37  top genre_europop               114 non-null    float64
 38  top genre_g funk                114 non-null    float64
 39  top genre_glam metal            114 non-null    float64
 40  top genre_glam rock             114 non-null    float64
 41  top genre_hip hop               114 non-null    float64
 42  top genre_hollywood             114 non-null    float64
 43  top genre_jazz fusion           114 non-null    float64
 44  top genre_mellow gold           114 non-null    float64
 45  top genre_modern rock           114 non-null    float64
 46  top genre_native american       114 non-null    float64
 47  top genre_neo mellow            114 non-null    float64
 48  top genre_nan                   114 non-null    float64
 49  decade_1940's                   114 non-null    float64
 50  decade_1950's                   114 non-null    float64
 51  decade_1960's                   114 non-null    float64
 52  decade_1970's                   114 non-null    float64
 53  decade_1980's                   114 non-null    float64
 54  decade_1990's                   114 non-null    float64
 55  decade_2000's                   114 non-null    float64
 56  decade_2010's                   114 non-null    float64
 57  title_length                    114 non-null    int64
 58  title_word_count                114 non-null    int64
 59  artist_length                   114 non-null    int64
 60  artist_word_count               114 non-null    int64
dtypes: float64(48), int64(13)
memory usage: 55.2 KB